

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  /* logo */
.logo a {
    display: inline-block;
    text-decoration: none;
}
.logo  a  img {
    width: 100px;
}
.logo a h2 {
    text-align: center;
    margin: 0;
    color: green;
}
.menu {
    display: flex;
    align-items: center;
    font-size: 18px;
}
.menu ul li{
    display: inline;
    margin-left: 10px;
}
.menu ul li a {
    color: #000;
}

a.btn-login {
    margin-left: 30px;
    background: rgb(141, 141, 255);
    padding: 10px;
    color: #fff;
  }

  /* search */

.search{
    align-items: center;
}
input {
    padding: 5px;
}

button {
    padding: 6px;
    background: rgb(141, 141, 255);
    border: none;
}
form {
    align-items: end;
}