*, *::before , *::after {
    margin : 0px ;
    padding : 0px ;
}
.container {
    width: 100% ;
    height: 458px ;
    background : radial-gradient(circle, #eee 40%, #ccc);
    position : relative ;
}
h1 , strong , span {
    display : inline-block ;
    position : absolute ;
    height : 40px ;
    /* border : 1px solid black ; */
    font-size : 50px ;
    top : 212px ;
    font-weight : bold ;
}
h1{
    left: 100px;
    color: #d00;
}
strong{
    left: 170px;
}
.m{left: 182px;}
.a{left: 220px;}
.g{left: 243px;}
.i{left: 267px;}
.n{left: 279px;}
.e{left: 303px;}
.r{left: 326px;}
.circle{
    width: 10px;
    height: 10px;
    background-color: #006f6f;
    border-radius: 100%;
    position: absolute;
    top: 212px;
    left: 171px;
    opacity: 0;
}
/* ------------------------ animation circle-------------------------- */
.circle {
   animation-name : rond ;
   animation-duration : 2.8s ;
}
@keyframes rond {
    0% { /* 0s */
        top : 212px ;
        left : 175px ;
        opacity : 1 ;
    }
    27% { /*0.8s*/
        top : 212px ;
        left : 175px ;
        opacity : 1 ;
    }
    36% { /* 1s */
        top : 190px ;
    }
    46%{ /*1.3s*/
        top : 220px ;
        left : 223px ;
    }
    64% { /*1.8s*/
        top : 190px ;
    }
    71% { /* 2s */
        top : 212px ;
        left : 267px ;
    }
    78% { /*2.2s*/
        top : 190px ;
    }
    89%{/*2.5s*/
        top : 220px ;
        left : 310px ;
        opacity : 1 ;
    }
    100%{/*2.5s*/
        top : 190px ;
        left : 350px ;
        opacity : 0 ;
    }
}
/* ------------------------ animation h1-------------------------- */
h1{
    animation-name: th;
    animation-duration: 1.5s;
}
@keyframes th{
    0%{
        opacity: 0;
        transform: translateY(75%);
    }
    100%{
    opacity: 1;
    transform: translateY(0);
    }
}
/* ------------------------ animation Strong-------------------------- */
strong{
    animation-name : first;
    animation-duration: 0.8s;
}
@keyframes first{
    0%{
        opacity: 0;
        transform: translateY(75%); 
    }
    75%{
        opacity: 0;
        transform: translateY(75%);
    }

    100%{
        opacity: 1;
        transform: translateY(0)
    }
}
/* ------------------------ animation a-------------------------- */

.a{
    color: #000;
    animation-name: second;
    animation-duration: 1.9s
}
@keyframes second {
    0%{
        opacity: 0;
    }

    68%{
        opacity: 0;
        color : #006f6f;
    }
    84%{    
        color: #006f6f;
    }

    100%{
        opacity: 1;
        color: #000;
    }
}
/* ------------------------ animation i-------------------------- */
.i{
    color: #000;
    animation-name : third;
    animation-duration: 2.6s;
}
@keyframes third{
    0%{
        opacity: 0;
    }
    77%{
        opacity: 0;
        color: #006f6f;
    }
    89%{
        color: #006f6f;
    }
    100%{
        opacity: 1;
        color: #000
    }
}
/* ------------------------ animation e-------------------------- */
.e{
    color: #000;
    animation-name : fourth;
    animation-duration: 3.1s;
}
@keyframes third{
    0%{
        opacity: 0;
    }
    80%{
        opacity: 0;
        color: #006f6f;
    }
    90%{
        color: #006f6f;
    }
    100%{
        opacity: 1;
    }
}
/* ------------------------ animation m-------------------------- */
.m, .g, .n, .r{
    color: #000;
    animation-name : f-end;
    animation-duration: 3.5s;
}
@keyframes f-end{
    0%{
        opacity: 0;
        width: 0px;
    }
    20%{
        opacity: 0;
        width: 0px;
        color: #aaaaad;
    }
    40%{
        color: #aaaaad;
    }
    60%{
        color: #44bbbb;
    }
    80%{
        color: #006f6f;
    }
    100%{
        opacity: 1;
        width: 10px;
    }
}